<a href="https://colab.research.google.com/github/CH4nt014/Big-Data-21-22-Gruppo1/blob/main/importCsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [15]:
#Modifica la precisione nella visualizzazione delle cifre
pd.options.display.precision = 10

#Legge il csv e lo stampa
df_DatiSensori = pd.read_csv('Dati-gruppo1.csv')

#Mostra tutte le colonne
# pd.option_context('display.max_rows', df_DatiSensori.shape[0]+1)
df_DatiSensori

,postazione,Data,TRS_ppb,TRS_stato,VOC_ppm,VOC_stato,C6H6_ug/m3,C6H6_stato,H2S_ug/m3,H2S_stato,H2SJ_ug/m3,H2SJ_stato,PIDVOC_ppb,PIDVOC_stato
0,ATM05_01479,12/04/2021 00:00:00,2.0000000000,K,0.0,K,0.3000000119,K,0.0000000000,K,0.0000000000,K,44.5999984741,K
1,ATM05_01479,12/04/2021 00:05:00,0.0000000000,K,0.0,K,0.2000000030,K,0.2000000030,K,0.0000000000,K,44.0000000000,K
2,ATM05_01479,12/04/2021 00:10:00,0.0000000000,K,0.0,K,0.2000000030,K,1.7000000477,K,0.0000000000,K,44.2000007629,K
3,ATM05_01479,12/04/2021 00:15:00,11.8999996185,K,0.0,K,0.2000000030,K,1.8999999762,K,0.0000000000,K,44.4000015259,K
4,ATM05_01479,12/04/2021 00:20:00,26.1000003815,K,0.0,K,0.2000000030,K,2.5000000000,K,0.0000000000,K,40.7999992371,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195547,ATM14_01486,28/11/2021 23:35:00,0.0000000000,K,0.0,K,0.6000000238,K,8.8999996185,K,0.3000000119,K,352.6000061035,K
195548,ATM14_01486,28/11/2021 23:40:00,0.0000000000,K,0.0,K,0.6000000238,K,8.3000001907,K,0.3000000119,K,350.6000061035,K
195549,ATM14_01486,28/11/2021 23:45:00,0.0000000000,K,0.0,K,0.6000000238,K,8.6999998093,K,0.3000000119,K,353.0000000000,K
195550,ATM14_01486,28/11/2021 23:50:00,0.0000000000,K,0.0,K,0.6000000238,K,9.1999998093,K,1.2000000477,K,352.7999877930,K
195551,ATM14_01486,28/11/2021 23:55:00,0.0000000000,K,0.0,K,0.6000000238,K,9.1999998093,K,1.1000000238,K,352.2000122070,K

In [ ]:
pd.set_option('display.max_rows', 100)
# query effettuata con un unico comando
# df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False)[['postazione', 'Data', 'C6H6_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di benzene
df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False)
# creazione di un dataFrame contenente i 100 maggiori valori di benzene
query_Benzene = df_Benzene[['postazione', 'Data', 'C6H6_ug/m3']].head(100)
query_Benzene

In [ ]:
# query effettuata con un unico comando
# df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False)[['postazione', 'Data', 'H2S_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2S
df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2S = df_H2S[['postazione', 'Data', 'H2S_ug/m3']].head(100)
query_H2S

In [ ]:
# query effettuata con un unico comando
# df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False)[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2SJ
df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2SJ = df_H2S[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
query_H2SJ

In [ ]:
# query effettuata con un unico comando
# df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True)[['postazione', 'Data', 'VOC_ppm']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore VOC
df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 più bassi valori del sensore VOC
query_VOC = df_VOC[['postazione', 'Data', 'VOC_ppm']].head(100)
query_VOC

In [ ]:
# query effettuata con un unico comando
# df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True)[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore PIDVOC
df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 più bassi valori del sensore PIDVOC
query_PIDVOC = df_PIDVOC[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
query_PIDVOC