In [ ]:
# Le date vengono ordinate in base al primo numero, ovvero al giorno, mese e anno non vengono cagati

In [3]:
import pandas as pd
import operator

In [74]:
# Importa i dati dal file excel
#Modifica la precisione nella visualizzazione delle cifre
pd.options.display.precision = 10

#Legge il csv e lo stampa
df_DatiSensori = pd.read_excel('Dati.xlsx')

#Mostra tutte le colonne
pd.set_option('display.max_rows', None)
df_DatiSensori

In [ ]:
# Query 1

# query effettuata con un unico comando
# df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False)[['postazione', 'Data', 'C6H6_ug/m3']].head(100)

# creazione di un dataFrame ordinato in modo discendente per i valori di benzene
df_C6H6 = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di benzene
query_C6H6 = df_C6H6[['postazione', 'Data', 'C6H6_ug/m3']]
query_C6H6.head(100)

In [ ]:
# Query 2 per il sensore H2S

# query effettuata con un unico comando
# df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False)[['postazione', 'Data', 'H2S_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2S
df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2S = df_H2S[['postazione', 'Data', 'H2S_ug/m3', 'H2SJ_ug/m3']].head(100)
query_H2S

In [54]:
# Query 2 per il sensore H2SJ

# query effettuata con un unico comando
# df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False)[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2SJ
df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2SJ = df_H2SJ[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
query_H2SJ

         postazione        Data     H2SJ_ug/m3
26519   ATM05_01479  22/06/2021  56.9000015259
100117  ATM10_01481  25/06/2021  56.9000015259
94624   ATM10_01481  18/07/2021  56.9000015259
22897   ATM05_01479  16/06/2021  56.7999992371
31557   ATM05_01479  30/07/2021  56.7999992371
47894   ATM07_01480  27/11/2021  56.7000007629
100675  ATM10_01481  27/06/2021  56.5999984741
96048   ATM10_01481  18/06/2021  56.5999984741
41974   ATM07_01480  20/11/2021  56.5000000000
46781   ATM07_01480  23/11/2021  56.5000000000
41465   ATM07_01480  18/11/2021  56.4000015259
93501   ATM10_01481  14/07/2021  56.4000015259
46949   ATM07_01480  24/11/2021  56.4000015259
46516   ATM07_01480  22/11/2021  56.4000015259
42251   ATM07_01480  21/11/2021  56.4000015259
41046   ATM07_01480  17/11/2021  56.4000015259
100334  ATM10_01481  26/06/2021  56.0999984741
99908   ATM10_01481  24/06/2021  56.0000000000
32846   ATM05_01479  30/06/2021  55.9000015259
31028   ATM05_01479  28/07/2021  55.9000015259
33858   ATM05_01479  03/07/2021  55.9000015259
12527   ATM05_01479  06/07/2021  55.9000015259
6486    ATM05_01479  19/10/2021  55.9000015259
31347   ATM05_01479  29/07/2021  55.9000015259
26311   ATM05_01479  21/06/2021  55.9000015259
20663   ATM05_01479  13/07/2021  55.9000015259
84832   ATM10_01481  05/07/2021  55.7000007629
24161   ATM05_01479  20/06/2021  55.5999984741
94941   ATM10_01481  14/06/2021  55.5999984741
48189   ATM07_01480  28/11/2021  55.2000007629
85387   ATM10_01481  07/07/2021  55.0999984741
94050   ATM10_01481  16/07/2021  55.0999984741
85683   ATM10_01481  08/07/2021  54.9000015259
93801   ATM10_01481  15/07/2021  54.7000007629
41478   ATM07_01480  19/11/2021  54.7000007629
40017   ATM07_01480  13/11/2021  54.7000007629
86261   ATM10_01481  10/07/2021  54.5999984741
99398   ATM10_01481  23/06/2021  54.5000000000
14727   ATM05_01479  11/08/2021  54.5000000000
32149   ATM05_01479  01/08/2021  54.4000015259
106753  ATM10_01481  04/07/2021  54.2999992371
85829   ATM10_01481  09/07/2021  54.2999992371
95812   ATM10_01481  17/06/2021  54.0999984741
32532   ATM05_01479  28/06/2021  53.7000007629
14428   ATM05_01479  10/08/2021  53.7000007629
92893   ATM10_01481  12/07/2021  53.5000000000
30299   ATM05_01479  26/07/2021  52.7999992371
105125  ATM10_01481  29/06/2021  52.7999992371
14386   ATM05_01479  09/08/2021  52.5999984741
96293   ATM10_01481  19/06/2021  52.0999984741
22571   ATM05_01479  15/06/2021  51.7999992371
47577   ATM07_01480  26/11/2021  51.5999984741
106190  ATM10_01481  02/07/2021  51.5000000000
105819  ATM10_01481  01/07/2021  51.5000000000
38835   ATM07_01480  09/11/2021  51.2000007629
40040   ATM07_01480  14/11/2021  50.5999984741
94327   ATM10_01481  17/07/2021  50.2999992371
6094    ATM05_01479  18/10/2021  50.0999984741
30783   ATM05_01479  27/07/2021  50.0000000000
31884   ATM05_01479  31/07/2021  49.7000007629
15531   ATM05_01479  13/08/2021  49.5999984741
15157   ATM05_01479  12/08/2021  49.5999984741
47489   ATM07_01480  25/11/2021  46.5000000000
38001   ATM07_01480  06/11/2021  41.5000000000
40864   ATM07_01480  16/11/2021  40.5000000000
38031   ATM07_01480  07/11/2021  36.4000015259
40607   ATM07_01480  15/11/2021  34.7999992371
98342   ATM10_01481  22/05/2021  30.8999996185
137205  ATM14_01486  24/05/2021  29.7000007629
106977  ATM10_01481  31/05/2021  27.7999992371
107278  ATM10_01481  01/06/2021  26.7000007629
108730  ATM10_01481  06/06/2021  26.2999992371
134966  ATM14_01486  23/05/2021  26.1000003815
107538  ATM10_01481  02/06/2021  25.3999996185
37310   ATM07_01480  04/11/2021  25.2000007629
43883   ATM07_01480  23/10/2021  25.2000007629
129022  ATM14_01486  18/04/2021  25.1000003815
43074   ATM07_01480  20/10/2021  24.8999996185
43326   ATM07_01480  21/10/2021  24.8999996185
49970   ATM07_01480  30/10/2021  24.7999992371
49403   ATM07_01480  28/10/2021  24.7000007629
107816  ATM10_01481  03/06/2021  24.5000000000
137818  ATM14_01486  26/05/2021  23.7999992371
108456  ATM10_01481  05/06/2021  23.7999992371
101841  ATM10_01481  27/05/2021  22.6000003815
102347  ATM10_01481  29/05/2021  22.5000000000
144408  ATM14_01486  04/06/2021  21.7000007629
102108  ATM10_01481  28/05/2021  20.7999992371
128342  ATM14_01486  16/04/2021  20.5000000000
101242  ATM10_01481  25/05/2021  18.7000007629
97516   ATM10_01481  19/05/2021  18.6000003815
98038   ATM10_01481  21/05/2021  16.2999992371
127462  ATM14_01486  13/04/2021  13.3999996185
127966  ATM14_01486  15/04/2021  12.3999996185
128504  ATM14_01486  17/04/2021  11.8999996185
127723  ATM14_01486  14/04/2021   9.6999998093
127090  ATM14_01486  12/04/2021   9.6000003815
134200  ATM14_01486  20/05/2021   9.1000003815
109389  ATM14_01486  02/11/2021   8.5000000000
139090  ATM14_01486  30/05/2021   7.9000000954

In [53]:
# Query 3 per il sensore VOC

# query effettuata con un unico comando
# df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True)[['postazione', 'Data', 'VOC_ppm']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore VOC
df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 pi bassi valori del sensore VOC
query_VOC = df_VOC[['postazione', 'Data', 'VOC_ppm']].head(100)
query_VOC

         postazione        Data  VOC_ppm
0       ATM05_01479  01/11/2021      0.0
68916   ATM07_01480  27/07/2021      0.0
68730   ATM07_01480  26/07/2021      0.0
69328   ATM07_01480  28/07/2021      0.0
69478   ATM07_01480  29/07/2021      0.0
68172   ATM07_01480  29/05/2021      0.0
68264   ATM07_01480  30/05/2021      0.0
67967   ATM07_01480  28/05/2021      0.0
70902   ATM07_01480  29/06/2021      0.0
70847   ATM07_01480  28/06/2021      0.0
71277   ATM07_01480  30/06/2021      0.0
69960   ATM07_01480  30/07/2021      0.0
69984   ATM07_01480  31/07/2021      0.0
70520   ATM07_01480  01/08/2021      0.0
65936   ATM07_01480  25/06/2021      0.0
65959   ATM07_01480  26/06/2021      0.0
66308   ATM07_01480  27/06/2021      0.0
65045   ATM07_01480  22/06/2021      0.0
65139   ATM07_01480  23/06/2021      0.0
64798   ATM07_01480  21/06/2021      0.0
65566   ATM07_01480  24/06/2021      0.0
67430   ATM07_01480  27/05/2021      0.0
67382   ATM07_01480  26/05/2021      0.0
66678   ATM07_01480  24/05/2021      0.0
67058   ATM07_01480  25/05/2021      0.0
111741  ATM14_01486  10/11/2021      0.0
111745  ATM14_01486  11/11/2021      0.0
112111  ATM14_01486  12/11/2021      0.0
110943  ATM14_01486  08/11/2021      0.0
110879  ATM14_01486  07/11/2021      0.0
111349  ATM14_01486  09/11/2021      0.0
113231  ATM14_01486  16/11/2021      0.0
113183  ATM14_01486  15/11/2021      0.0
113605  ATM14_01486  17/11/2021      0.0
112483  ATM14_01486  13/11/2021      0.0
112855  ATM14_01486  14/11/2021      0.0
72390   ATM07_01480  04/07/2021      0.0
145150  ATM14_01486  06/06/2021      0.0
72204   ATM07_01480  03/07/2021      0.0
109163  ATM14_01486  02/11/2021      0.0
71647   ATM07_01480  01/07/2021      0.0
71741   ATM07_01480  02/07/2021      0.0
110168  ATM14_01486  05/11/2021      0.0
109975  ATM14_01486  04/11/2021      0.0
110547  ATM14_01486  06/11/2021      0.0
109440  ATM14_01486  03/11/2021      0.0
56375   ATM07_01480  16/05/2021      0.0
56469   ATM07_01480  12/04/2021      0.0
56143   ATM07_01480  15/05/2021      0.0
56745   ATM07_01480  13/04/2021      0.0
55633   ATM07_01480  14/05/2021      0.0
55583   ATM07_01480  13/05/2021      0.0
55213   ATM07_01480  12/05/2021      0.0
58031   ATM07_01480  17/04/2021      0.0
57845   ATM07_01480  16/04/2021      0.0
58401   ATM07_01480  18/04/2021      0.0
58612   ATM07_01480  12/07/2021      0.0
57118   ATM07_01480  14/04/2021      0.0
57405   ATM07_01480  15/04/2021      0.0
52595   ATM07_01480  09/08/2021      0.0
52710   ATM07_01480  10/08/2021      0.0
52039   ATM07_01480  10/07/2021      0.0
53007   ATM07_01480  11/08/2021      0.0
51482   ATM07_01480  08/07/2021      0.0
51576   ATM07_01480  09/07/2021      0.0
51251   ATM07_01480  07/07/2021      0.0
54696   ATM07_01480  10/05/2021      0.0
54720   ATM07_01480  11/05/2021      0.0
53392   ATM07_01480  12/08/2021      0.0
53782   ATM07_01480  13/08/2021      0.0
53876   ATM07_01480  14/08/2021      0.0
62698   ATM07_01480  17/05/2021      0.0
62790   ATM07_01480  18/05/2021      0.0
62495   ATM07_01480  20/06/2021      0.0
63072   ATM07_01480  19/05/2021      0.0
61912   ATM07_01480  18/06/2021      0.0
61937   ATM07_01480  19/06/2021      0.0
64183   ATM07_01480  22/05/2021      0.0
64277   ATM07_01480  23/05/2021      0.0
63935   ATM07_01480  21/05/2021      0.0
63441   ATM07_01480  20/05/2021      0.0
59683   ATM07_01480  16/07/2021      0.0
59615   ATM07_01480  15/07/2021      0.0
60053   ATM07_01480  17/07/2021      0.0
58890   ATM07_01480  13/07/2021      0.0
59311   ATM07_01480  14/07/2021      0.0
61165   ATM07_01480  16/06/2021      0.0
60980   ATM07_01480  15/06/2021      0.0
61536   ATM07_01480  17/06/2021      0.0
60422   ATM07_01480  18/07/2021      0.0
60516   ATM07_01480  14/06/2021      0.0
143233  ATM14_01486  31/05/2021      0.0
144502  ATM14_01486  04/06/2021      0.0
144600  ATM14_01486  05/06/2021      0.0
144269  ATM14_01486  03/06/2021      0.0
143642  ATM14_01486  01/06/2021      0.0
143738  ATM14_01486  02/06/2021      0.0
118003  ATM14_01486  25/11/2021      0.0
118096  ATM14_01486  26/11/2021      0.0
117770  ATM14_01486  24/11/2021      0.0

In [56]:
# Query 3 per il sensore PIDVOC

# query effettuata con un unico comando
# df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True)[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore PIDVOC
df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 pi bassi valori del sensore PIDVOC
query_PIDVOC = df_PIDVOC[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
query_PIDVOC

        postazione        Data     PIDVOC_ppb
44726  ATM07_01480  01/06/2021  16.7999992371
71605  ATM07_01480  01/07/2021   0.0000000000
70319  ATM07_01480  01/08/2021   0.0000000000
36421  ATM07_01480  01/11/2021   0.0000000000
45141  ATM07_01480  02/06/2021  10.8000001907
71828  ATM07_01480  02/07/2021  14.1999998093
45426  ATM07_01480  03/06/2021   0.0000000000
33865  ATM05_01479  03/07/2021   0.0000000000
45663  ATM07_01480  04/06/2021   2.4000000954
72381  ATM07_01480  04/07/2021  13.0000000000
45996  ATM07_01480  05/06/2021   3.2000000477
50433  ATM07_01480  05/07/2021   0.0000000000
1375   ATM05_01479  05/11/2021   0.0000000000
50797  ATM07_01480  06/07/2021   0.0000000000
38002  ATM07_01480  06/11/2021   0.0000000000
51110  ATM07_01480  07/07/2021   0.0000000000
38085  ATM07_01480  07/11/2021   0.0000000000
51389  ATM07_01480  08/07/2021   5.1999998093
51690  ATM07_01480  09/07/2021   0.0000000000
52448  ATM07_01480  09/08/2021   0.0000000000
38834  ATM07_01480  09/11/2021   0.0000000000
54651  ATM07_01480  10/05/2021   0.0000000000
52048  ATM07_01480  10/07/2021   0.0000000000
52914  ATM07_01480  10/08/2021   0.0000000000
54966  ATM07_01480  11/05/2021   5.4000000954
53082  ATM07_01480  11/08/2021   0.0000000000
56573  ATM07_01480  12/04/2021   0.0000000000
55163  ATM07_01480  12/05/2021  10.3999996185
58644  ATM07_01480  12/07/2021  28.0000000000
53294  ATM07_01480  12/08/2021   0.0000000000
18519  ATM05_01479  13/04/2021   3.2000000477
55508  ATM07_01480  13/05/2021  19.0000000000
58926  ATM07_01480  13/07/2021   0.0000000000
53784  ATM07_01480  13/08/2021   0.0000000000
40010  ATM07_01480  13/11/2021   0.0000000000
18770  ATM05_01479  14/04/2021   3.0000000000
55682  ATM07_01480  14/05/2021   8.3999996185
60642  ATM07_01480  14/06/2021  13.8000001907
53862  ATM07_01480  14/08/2021   0.0000000000
40046  ATM07_01480  14/11/2021   0.0000000000
91871  ATM10_01481  15/04/2021   8.6000003815
56061  ATM07_01480  15/05/2021   0.0000000000
60948  ATM07_01480  15/06/2021   2.4000000954
76759  ATM10_01481  15/11/2021  29.3999996185
19538  ATM05_01479  16/04/2021   4.1999998093
18097  ATM05_01479  16/05/2021   0.0000000000
40888  ATM07_01480  16/11/2021   0.0000000000
19654  ATM05_01479  17/04/2021   4.1999998093
62726  ATM07_01480  17/05/2021  10.8000001907
61452  ATM07_01480  17/06/2021   0.0000000000
41073  ATM07_01480  17/11/2021   0.0000000000
20146  ATM05_01479  18/04/2021   6.5999999046
62941  ATM07_01480  18/05/2021   0.0000000000
94738  ATM10_01481  18/07/2021  22.7999992371
41206  ATM07_01480  18/11/2021   0.0000000000
63154  ATM07_01480  19/05/2021  23.3999996185
61990  ATM07_01480  19/06/2021   0.0000000000
42781  ATM07_01480  19/10/2021  21.2000007629
41653  ATM07_01480  19/11/2021   0.0000000000
63532  ATM07_01480  20/05/2021   0.0000000000
43093  ATM07_01480  20/10/2021  12.1999998093
41819  ATM07_01480  20/11/2021   0.0000000000
63848  ATM07_01480  21/05/2021   0.0000000000
64566  ATM07_01480  21/06/2021   4.5999999046
43335  ATM07_01480  21/10/2021   9.6000003815
42312  ATM07_01480  21/11/2021   0.0000000000
64124  ATM07_01480  22/05/2021   2.4000000954
65005  ATM07_01480  22/06/2021   0.4000000060
46566  ATM07_01480  22/11/2021   0.0000000000
64252  ATM07_01480  23/05/2021   9.0000000000
26952  ATM05_01479  23/06/2021   0.0000000000
43952  ATM07_01480  23/10/2021  30.3999996185
46722  ATM07_01480  23/11/2021   0.0000000000
66729  ATM07_01480  24/05/2021   2.7999999523
65581  ATM07_01480  24/06/2021   5.5999999046
47179  ATM07_01480  24/11/2021   0.0000000000
66858  ATM07_01480  25/05/2021   6.5999999046
65691  ATM07_01480  25/06/2021   2.2000000477
10243  ATM05_01479  25/10/2021  27.7999992371
47326  ATM07_01480  25/11/2021   0.0000000000
67301  ATM07_01480  26/05/2021   8.0000000000
66174  ATM07_01480  26/06/2021   0.0000000000
68545  ATM07_01480  26/07/2021   0.0000000000
47621  ATM07_01480  26/11/2021   0.0000000000
66497  ATM07_01480  27/06/2021  14.0000000000
68832  ATM07_01480  27/07/2021   0.0000000000
47923  ATM07_01480  27/11/2021   0.0000000000
67967  ATM07_01480  28/05/2021  20.0000000000
70766  ATM07_01480  28/06/2021   4.5999999046
69382  ATM07_01480  28/07/2021   0.0000000000
48382  ATM07_01480  28/11/2021   0.0000000000
29909  ATM05_01479  29/05/2021   0.0000000000
71108  ATM07_01480  29/06/2021   0.0000000000
69413  ATM07_01480  29/07/2021   0.0000000000
68365  ATM07_01480  30/05/2021  21.6000003815
71140  ATM07_01480  30/06/2021   0.0000000000
69962  ATM07_01480  30/07/2021   0.0000000000
44482  ATM07_01480  31/05/2021  12.6000003815
69984  ATM07_01480  31/07/2021   0.0000000000
50335  ATM07_01480  31/10/2021   0.0000000000

In [ ]:
# query 4: dividere il dataset in gruppi di ore consecutive, sommare le ore e calcolare la media per ogni ora 
# e quella pi bassa

df_MediaBenzene = query_C6H6.sort_values(by= 'Data').drop_duplicates(subset='Data')
df_Data = df_MediaBenzene['Data']
# df_Data['Data'] = pd.to_datetime(df_Data['Data'], format = '%Y%m%d%H')
pd.set_option('display.max_rows', None)
# df_MediaBenzene
dz_Benzene = {}
# for i in range(len(df_MediaBenzene)):

In [208]:
#50 ore con il p alto livello medio di benzene
df_C6H6 = df_DatiSensori[['ora','C6H6_ug/m3']].copy()
df_ore = df_C6H6.groupby('ora').mean().sort_values(['C6H6_ug/m3'], ascending =False).head(50).reset_index()
df_ore[['ora']]

      ora
0   13.30
1    0.75
2    0.70
3    0.65
4    0.60
5   13.45
6   14.30
7   14.35
8   14.00
9   13.35
10  13.40
11  14.25
12  14.40
13  13.50
14  13.55
15  15.15
16  13.25
17  14.10
18  12.55
19  14.50
20  15.25
21  14.05
22  13.10
23  15.00
24  14.15
25  14.55
26  14.45
27  13.20
28  14.20
29  13.15
30  15.20
31  12.35
32  15.35
33  15.05
34  15.40
35  15.50
36  16.05
37  13.05
38  12.40
39  15.30
40  12.50
41  13.00
42  15.45
43  15.10
44  12.45
45  12.15
46  12.25
47  16.40
48  12.30
49  15.55

In [209]:
#50 ore con il p basso livello medio di benzene
df_C6H6 = df_DatiSensori[['ora','C6H6_ug/m3']].copy()
df_ore = df_C6H6.groupby('ora').mean().sort_values(['C6H6_ug/m3'], ascending =True).head(50).reset_index()
df_ore[['ora']]

     ora
0   1.05
1   4.30
2   4.15
3   4.20
4   4.25
5   4.50
6   4.35
7   4.45
8   4.10
9   4.55
10  4.00
11  4.40
12  3.45
13  4.05
14  3.25
15  2.40
16  3.55
17  3.30
18  5.00
19  3.15
20  5.05
21  3.35
22  3.50
23  5.10
24  2.55
25  5.15
26  2.50
27  3.40
28  2.30
29  3.20
30  1.45
31  2.15
32  1.20
33  3.00
34  3.10
35  1.50
36  2.35
37  2.45
38  1.25
39  5.20
40  1.55
41  3.05
42  2.25
43  2.20
44  1.40
45  2.10
46  2.00
47  1.30
48  1.35
49  5.25

In [ ]:
#Non mi  ingozzato di fare le altre 3 query ma dovrei aver reso il concetto.
#Un appunto: Nei dati c' qualche ora sbagliata, impossibile avere 0.75 o 65 minuti...