<a href="https://colab.research.google.com/github/CH4nt014/Big-Data-21-22-Gruppo1/blob/main/importCsv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [27]:
#Modifica la precisione nella visualizzazione delle cifre
pd.options.display.precision = 10

#Legge il csv e lo stampa
df_DatiSensori = pd.read_excel('Dati-gruppo1.xlsx')

#Mostra tutte le colonne
# pd.option_context('display.max_rows', df_DatiSensori.shape[0]+1)
df_DatiSensori

,postazione,Data,TRS_ppb,TRS_stato,VOC_ppm,VOC_stato,C6H6_ug/m3,C6H6_stato,H2S_ug/m3,H2S_stato,H2SJ_ug/m3,H2SJ_stato,PIDVOC_ppb,PIDVOC_stato
0,ATM05_01479,2021-04-12 00:00:00,2.0000000000,K,0.0,K,0.3000000119,K,0.0000000000,K,0.0000000000,K,44.5999984741,K
1,ATM05_01479,2021-04-12 00:05:00,0.0000000000,K,0.0,K,0.2000000030,K,0.2000000030,K,0.0000000000,K,44.0000000000,K
2,ATM05_01479,2021-04-12 00:10:00,0.0000000000,K,0.0,K,0.2000000030,K,1.7000000477,K,0.0000000000,K,44.2000007629,K
3,ATM05_01479,2021-04-12 00:15:00,11.8999996185,K,0.0,K,0.2000000030,K,1.8999999762,K,0.0000000000,K,44.4000015259,K
4,ATM05_01479,2021-04-12 00:20:00,26.1000003815,K,0.0,K,0.2000000030,K,2.5000000000,K,0.0000000000,K,40.7999992371,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195547,ATM14_01486,2021-11-28 23:35:00,0.0000000000,K,0.0,K,0.6000000238,K,8.8999996185,K,0.3000000119,K,352.6000061035,K
195548,ATM14_01486,2021-11-28 23:40:00,0.0000000000,K,0.0,K,0.6000000238,K,8.3000001907,K,0.3000000119,K,350.6000061035,K
195549,ATM14_01486,2021-11-28 23:45:00,0.0000000000,K,0.0,K,0.6000000238,K,8.6999998093,K,0.3000000119,K,353.0000000000,K
195550,ATM14_01486,2021-11-28 23:50:00,0.0000000000,K,0.0,K,0.6000000238,K,9.1999998093,K,1.2000000477,K,352.7999877930,K
195551,ATM14_01486,2021-11-28 23:55:00,0.0000000000,K,0.0,K,0.6000000238,K,9.1999998093,K,1.1000000238,K,352.2000122070,K

In [5]:
pd.set_option('display.max_rows', 100)
# query effettuata con un unico comando
# df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False)[['postazione', 'Data', 'C6H6_ug/m3']].head(100)

# creazione di un dataFrame ordinato in modo discendente per i valori di benzene
df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di benzene
query_Benzene = df_Benzene[['postazione', 'Data', 'C6H6_ug/m3']].head(100)
query_Benzene

         postazione                 Data     C6H6_ug/m3
88290   ATM10_01481  2021-07-10 13:30:00  10.3999996185
66647   ATM07_01480  2021-11-08 09:55:00   5.9000000954
106472  ATM10_01481  2021-11-20 16:40:00   3.0000000000
106465  ATM10_01481  2021-11-20 16:05:00   2.7999999523
88293   ATM10_01481  2021-07-10 13:45:00   2.5000000000
122287  ATM14_01486  2021-06-04 14:35:00   2.5000000000
106471  ATM10_01481  2021-11-20 16:35:00   2.0000000000
106473  ATM10_01481  2021-11-20 16:45:00   1.5000000000
122286  ATM14_01486  2021-06-04 14:30:00   1.3999999762
106476  ATM10_01481  2021-11-20 17:00:00   1.3999999762
83415   ATM10_01481  2021-06-23 15:15:00   1.3999999762
83423   ATM10_01481  2021-06-23 15:55:00   1.2999999523
106479  ATM10_01481  2021-11-20 17:15:00   1.2999999523
27745   ATM05_01479  2021-10-30 08:05:00   1.2000000477
83422   ATM10_01481  2021-06-23 15:50:00   1.2000000477
83408   ATM10_01481  2021-06-23 14:40:00   1.1000000238
83417   ATM10_01481  2021-06-23 15:25:00   1.1000000238
83416   ATM10_01481  2021-06-23 15:20:00   1.1000000238
83419   ATM10_01481  2021-06-23 15:35:00   1.1000000238
83420   ATM10_01481  2021-06-23 15:40:00   1.1000000238
83421   ATM10_01481  2021-06-23 15:45:00   1.1000000238
83412   ATM10_01481  2021-06-23 15:00:00   1.1000000238
83391   ATM10_01481  2021-06-23 13:15:00   1.1000000238
83426   ATM10_01481  2021-06-23 16:10:00   1.1000000238
83429   ATM10_01481  2021-06-23 16:25:00   1.1000000238
91196   ATM10_01481  2021-06-29 15:40:00   1.1000000238
83430   ATM10_01481  2021-06-23 16:30:00   1.1000000238
83431   ATM10_01481  2021-06-23 16:35:00   1.1000000238
83418   ATM10_01481  2021-06-23 15:30:00   1.1000000238
83404   ATM10_01481  2021-06-23 14:20:00   1.1000000238
83403   ATM10_01481  2021-06-23 14:15:00   1.1000000238
83402   ATM10_01481  2021-06-23 14:10:00   1.1000000238
83405   ATM10_01481  2021-06-23 14:25:00   1.0000000000
138984  ATM14_01486  2021-11-07 14:00:00   1.0000000000
83406   ATM10_01481  2021-06-23 14:30:00   1.0000000000
138980  ATM14_01486  2021-11-07 13:40:00   1.0000000000
138983  ATM14_01486  2021-11-07 13:55:00   1.0000000000
138982  ATM14_01486  2021-11-07 13:50:00   1.0000000000
138992  ATM14_01486  2021-11-07 14:40:00   1.0000000000
138981  ATM14_01486  2021-11-07 13:45:00   1.0000000000
138993  ATM14_01486  2021-11-07 14:45:00   1.0000000000
91192   ATM10_01481  2021-06-29 15:20:00   1.0000000000
138998  ATM14_01486  2021-11-07 15:10:00   1.0000000000
138979  ATM14_01486  2021-11-07 13:35:00   1.0000000000
138973  ATM14_01486  2021-11-07 13:05:00   1.0000000000
138161  ATM14_01486  2021-11-04 17:25:00   1.0000000000
138166  ATM14_01486  2021-11-04 17:50:00   1.0000000000
138938  ATM14_01486  2021-11-07 10:10:00   1.0000000000
138703  ATM14_01486  2021-11-06 14:35:00   1.0000000000
138948  ATM14_01486  2021-11-07 11:00:00   1.0000000000
91195   ATM10_01481  2021-06-29 15:35:00   1.0000000000
83386   ATM10_01481  2021-06-23 12:50:00   1.0000000000
83390   ATM10_01481  2021-06-23 13:10:00   1.0000000000
138960  ATM14_01486  2021-11-07 12:00:00   1.0000000000
138961  ATM14_01486  2021-11-07 12:05:00   1.0000000000
138963  ATM14_01486  2021-11-07 12:15:00   1.0000000000
138965  ATM14_01486  2021-11-07 12:25:00   1.0000000000
138968  ATM14_01486  2021-11-07 12:40:00   1.0000000000
91191   ATM10_01481  2021-06-29 15:15:00   1.0000000000
138970  ATM14_01486  2021-11-07 12:50:00   1.0000000000
27746   ATM05_01479  2021-10-30 08:10:00   1.0000000000
83394   ATM10_01481  2021-06-23 13:30:00   1.0000000000
83407   ATM10_01481  2021-06-23 14:35:00   1.0000000000
106475  ATM10_01481  2021-11-20 16:55:00   1.0000000000
91190   ATM10_01481  2021-06-29 15:10:00   1.0000000000
83410   ATM10_01481  2021-06-23 14:50:00   1.0000000000
83432   ATM10_01481  2021-06-23 16:40:00   1.0000000000
83378   ATM10_01481  2021-06-23 12:10:00   1.0000000000
83428   ATM10_01481  2021-06-23 16:20:00   1.0000000000
83427   ATM10_01481  2021-06-23 16:15:00   1.0000000000
83380   ATM10_01481  2021-06-23 12:20:00   1.0000000000
83425   ATM10_01481  2021-06-23 16:05:00   1.0000000000
138997  ATM14_01486  2021-11-07 15:05:00   1.0000000000
91173   ATM10_01481  2021-06-29 13:45:00   1.0000000000
91176   ATM10_01481  2021-06-29 14:00:00   1.0000000000
91177   ATM10_01481  2021-06-29 14:05:00   1.0000000000
91178   ATM10_01481  2021-06-29 14:10:00   1.0000000000
83414   ATM10_01481  2021-06-23 15:10:00   1.0000000000
83413   ATM10_01481  2021-06-23 15:05:00   1.0000000000
83411   ATM10_01481  2021-06-23 14:55:00   1.0000000000
83424   ATM10_01481  2021-06-23 16:00:00   1.0000000000
83409   ATM10_01481  2021-06-23 14:45:00   1.0000000000
139008  ATM14_01486  2021-11-07 16:00:00   1.0000000000
139001  ATM14_01486  2021-11-07 15:25:00   1.0000000000
139002  ATM14_01486  2021-11-07 15:30:00   1.0000000000
139003  ATM14_01486  2021-11-07 15:35:00   1.0000000000
138999  ATM14_01486  2021-11-07 15:15:00   1.0000000000
139004  ATM14_01486  2021-11-07 15:40:00   1.0000000000
91188   ATM10_01481  2021-06-29 15:00:00   1.0000000000
139006  ATM14_01486  2021-11-07 15:50:00   1.0000000000
139014  ATM14_01486  2021-11-07 16:30:00   1.0000000000
139015  ATM14_01486  2021-11-07 16:35:00   1.0000000000
139000  ATM14_01486  2021-11-07 15:20:00   1.0000000000
138446  ATM14_01486  2021-11-05 17:10:00   0.8999999762
138447  ATM14_01486  2021-11-05 17:15:00   0.8999999762
138445  ATM14_01486  2021-11-05 17:05:00   0.8999999762
138426  ATM14_01486  2021-11-05 15:30:00   0.8999999762
138422  ATM14_01486  2021-11-05 15:10:00   0.8999999762
138444  ATM14_01486  2021-11-05 17:00:00   0.8999999762
138448  ATM14_01486  2021-11-05 17:20:00   0.8999999762

In [24]:
# query effettuata con un unico comando
# df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False)[['postazione', 'Data', 'H2S_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2S
df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2S = df_H2S[['postazione', 'Data', 'H2S_ug/m3', 'H2SJ_ug/m3']].head(100)
query_H2S

         postazione                 Data       H2S_ug/m3     H2SJ_ug/m3
122287  ATM14_01486  2021-06-04 14:35:00  169.0000000000   0.4000000060
93529   ATM10_01481  2021-08-11 18:05:00  120.1999969482   1.1000000238
93527   ATM10_01481  2021-08-11 17:55:00  115.6999969482  21.6000003815
93528   ATM10_01481  2021-08-11 18:00:00  113.8000030518   1.2000000477
93526   ATM10_01481  2021-08-11 17:50:00  113.6999969482   6.1999998093
96411   ATM10_01481  2021-07-31 18:15:00  113.4000015259   1.1000000238
93514   ATM10_01481  2021-08-11 16:50:00  109.8000030518   1.1000000238
93518   ATM10_01481  2021-08-11 17:10:00  108.5999984741   1.2000000477
88041   ATM10_01481  2021-07-09 16:45:00  108.0999984741   0.0000000000
96412   ATM10_01481  2021-07-31 18:20:00  107.8000030518   1.1000000238
93524   ATM10_01481  2021-08-11 17:40:00  107.6999969482   1.1000000238
93525   ATM10_01481  2021-08-11 17:45:00  107.5999984741   1.0000000000
96413   ATM10_01481  2021-07-31 18:25:00  107.3000030518   1.2000000477
93516   ATM10_01481  2021-08-11 17:00:00  107.0999984741   1.2000000477
96415   ATM10_01481  2021-07-31 18:35:00  106.6999969482   1.1000000238
93520   ATM10_01481  2021-08-11 17:20:00  106.6999969482   1.2000000477
93517   ATM10_01481  2021-08-11 17:05:00  106.5000000000   1.2000000477
93521   ATM10_01481  2021-08-11 17:25:00  106.5000000000   1.2000000477
93522   ATM10_01481  2021-08-11 17:30:00  106.0999984741   1.1000000238
95243   ATM10_01481  2021-07-27 16:55:00  105.5999984741   1.8999999762
93515   ATM10_01481  2021-08-11 16:55:00  104.8000030518   6.0000000000
96414   ATM10_01481  2021-07-31 18:30:00  104.4000015259   1.1000000238
93519   ATM10_01481  2021-08-11 17:15:00  104.3000030518   1.1000000238
88038   ATM10_01481  2021-07-09 16:30:00  103.5000000000   1.2000000477
95244   ATM10_01481  2021-07-27 17:00:00  102.8000030518  25.3999996185
93523   ATM10_01481  2021-08-11 17:35:00  101.9000015259   1.1000000238
95247   ATM10_01481  2021-07-27 17:15:00  101.6999969482   1.0000000000
88042   ATM10_01481  2021-07-09 16:50:00  101.6999969482   4.0999999046
93530   ATM10_01481  2021-08-11 18:10:00  101.0000000000   1.0000000000
96416   ATM10_01481  2021-07-31 18:40:00  100.6999969482   5.6999998093
96417   ATM10_01481  2021-07-31 18:45:00   99.3000030518   1.1000000238
83430   ATM10_01481  2021-06-23 16:30:00   99.3000030518  34.7000007629
96407   ATM10_01481  2021-07-31 17:55:00   98.4000015259   1.2000000477
88037   ATM10_01481  2021-07-09 16:25:00   98.0000000000   1.1000000238
95246   ATM10_01481  2021-07-27 17:10:00   98.0000000000   1.1000000238
93513   ATM10_01481  2021-08-11 16:45:00   97.8000030518   1.1000000238
88040   ATM10_01481  2021-07-09 16:40:00   96.5000000000   0.0000000000
93531   ATM10_01481  2021-08-11 18:15:00   96.5000000000   1.2000000477
96418   ATM10_01481  2021-07-31 18:50:00   96.3000030518   1.1000000238
93512   ATM10_01481  2021-08-11 16:40:00   96.0999984741   1.1000000238
88036   ATM10_01481  2021-07-09 16:20:00   96.0000000000   1.1000000238
129824  ATM14_01486  2021-08-11 18:40:00   95.8000030518   0.4000000060
88039   ATM10_01481  2021-07-09 16:35:00   95.6999969482   1.2000000477
88034   ATM10_01481  2021-07-09 16:10:00   95.0999984741   4.0999999046
93230   ATM10_01481  2021-08-10 17:10:00   95.0999984741   1.1000000238
96419   ATM10_01481  2021-07-31 18:55:00   95.0999984741   1.1000000238
96420   ATM10_01481  2021-07-31 19:00:00   94.8000030518   5.8000001907
83431   ATM10_01481  2021-06-23 16:35:00   94.8000030518   0.0000000000
88902   ATM10_01481  2021-07-12 16:30:00   94.5000000000  51.2000007629
96421   ATM10_01481  2021-07-31 19:05:00   94.3000030518   1.1000000238
88333   ATM10_01481  2021-07-10 17:05:00   94.1999969482   0.0000000000
93532   ATM10_01481  2021-08-11 18:20:00   94.1999969482  21.6000003815
83429   ATM10_01481  2021-06-23 16:25:00   94.0999984741   1.1000000238
93223   ATM10_01481  2021-08-10 16:35:00   93.0999984741  20.0000000000
95245   ATM10_01481  2021-07-27 17:05:00   92.6999969482   1.0000000000
96422   ATM10_01481  2021-07-31 19:10:00   92.1999969482   1.2000000477
96423   ATM10_01481  2021-07-31 19:15:00   91.8000030518   1.1000000238
88335   ATM10_01481  2021-07-10 17:15:00   91.8000030518   1.1000000238
93534   ATM10_01481  2021-08-11 18:30:00   91.1999969482   5.6999998093
93537   ATM10_01481  2021-08-11 18:45:00   91.0999984741  21.6000003815
95234   ATM10_01481  2021-07-27 16:10:00   90.5999984741   1.2000000477
93533   ATM10_01481  2021-08-11 18:25:00   90.4000015259   1.1000000238
88332   ATM10_01481  2021-07-10 17:00:00   90.1999969482   1.1000000238
83148   ATM10_01481  2021-06-22 17:00:00   89.9000015259   1.1000000238
88334   ATM10_01481  2021-07-10 17:10:00   89.9000015259   3.7999999523
93535   ATM10_01481  2021-08-11 18:35:00   89.8000030518   1.0000000000
93231   ATM10_01481  2021-08-10 17:15:00   89.0999984741   1.1000000238
23824   ATM05_01479  2021-07-31 17:20:00   89.0000000000   0.0000000000
95237   ATM10_01481  2021-07-27 16:25:00   88.9000015259   1.1000000238
88907   ATM10_01481  2021-07-12 16:55:00   88.6999969482  51.5999984741
91219   ATM10_01481  2021-06-29 17:35:00   87.9000015259   1.0000000000
88035   ATM10_01481  2021-07-09 16:15:00   87.6999969482   1.2000000477
88901   ATM10_01481  2021-07-12 16:25:00   87.5999984741   7.8000001907
96425   ATM10_01481  2021-07-31 19:25:00   87.4000015259   1.2000000477
91216   ATM10_01481  2021-06-29 17:20:00   87.3000030518   1.1000000238
96424   ATM10_01481  2021-07-31 19:20:00   87.1999969482   1.1000000238
122286  ATM14_01486  2021-06-04 14:30:00   87.0000000000   0.4000000060
93226   ATM10_01481  2021-08-10 16:50:00   86.6999969482   1.2000000477
95235   ATM10_01481  2021-07-27 16:15:00   86.5999984741   1.1000000238
93218   ATM10_01481  2021-08-10 16:10:00   86.5999984741   1.2999999523
88339   ATM10_01481  2021-07-10 17:35:00   86.5999984741   1.1000000238
96717   ATM10_01481  2021-08-01 19:45:00   86.5000000000   1.2000000477
88904   ATM10_01481  2021-07-12 16:40:00   86.3000030518   1.2000000477
88338   ATM10_01481  2021-07-10 17:30:00   86.3000030518   1.2000000477
93233   ATM10_01481  2021-08-10 17:25:00   86.1999969482  20.1000003815
88900   ATM10_01481  2021-07-12 16:20:00   85.9000015259   0.0000000000
83432   ATM10_01481  2021-06-23 16:40:00   85.8000030518  51.7999992371
88908   ATM10_01481  2021-07-12 17:00:00   85.8000030518   1.0000000000
93216   ATM10_01481  2021-08-10 16:00:00   85.6999969482   1.2000000477
83428   ATM10_01481  2021-06-23 16:20:00   85.5999984741   1.2000000477
93539   ATM10_01481  2021-08-11 18:55:00   85.5000000000   1.0000000000
88336   ATM10_01481  2021-07-10 17:20:00   85.4000015259   0.0000000000
128102  ATM14_01486  2021-07-01 19:10:00   85.4000015259   0.6000000238
128103  ATM14_01486  2021-07-01 19:15:00   85.4000015259   0.6999999881
88331   ATM10_01481  2021-07-10 16:55:00   85.4000015259   5.6999998093
84588   ATM10_01481  2021-06-27 17:00:00   85.3000030518  15.8000001907
88899   ATM10_01481  2021-07-12 16:15:00   85.1999969482  13.1999998093
95248   ATM10_01481  2021-07-27 17:20:00   85.0000000000   1.0000000000
93538   ATM10_01481  2021-08-11 18:50:00   84.9000015259   1.0000000000
95236   ATM10_01481  2021-07-27 16:20:00   84.9000015259   1.1000000238

In [9]:
# query effettuata con un unico comando
# df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False)[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2SJ
df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2SJ = df_H2SJ[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
query_H2SJ

        postazione                 Data     H2SJ_ug/m3
83989  ATM10_01481  2021-06-25 15:05:00  56.9000015259
10391  ATM05_01479  2021-06-22 01:55:00  56.9000015259
90592  ATM10_01481  2021-07-18 13:20:00  56.9000015259
23493  ATM05_01479  2021-07-30 13:45:00  56.7999992371
8785   ATM05_01479  2021-06-16 12:05:00  56.7999992371
23494  ATM05_01479  2021-07-30 13:50:00  56.7000007629
72086  ATM07_01480  2021-11-27 07:10:00  56.7000007629
83047  ATM10_01481  2021-06-22 08:35:00  56.7000007629
23495  ATM05_01479  2021-07-30 13:55:00  56.7000007629
84547  ATM10_01481  2021-06-27 13:35:00  56.5999984741
81936  ATM10_01481  2021-06-18 12:00:00  56.5999984741
70973  ATM07_01480  2021-11-23 10:25:00  56.5000000000
70198  ATM07_01480  2021-11-20 17:50:00  56.5000000000
70240  ATM07_01480  2021-11-20 21:20:00  56.4000015259
70589  ATM07_01480  2021-11-22 02:25:00  56.4000015259
89469  ATM10_01481  2021-07-14 15:45:00  56.4000015259
69689  ATM07_01480  2021-11-18 23:25:00  56.4000015259
69577  ATM07_01480  2021-11-18 14:05:00  56.4000015259
69587  ATM07_01480  2021-11-18 14:55:00  56.4000015259
23426  ATM05_01479  2021-07-30 08:10:00  56.4000015259
70475  ATM07_01480  2021-11-21 16:55:00  56.4000015259
71141  ATM07_01480  2021-11-24 00:25:00  56.4000015259
70557  ATM07_01480  2021-11-21 23:45:00  56.4000015259
69480  ATM07_01480  2021-11-18 06:00:00  56.4000015259
69270  ATM07_01480  2021-11-17 12:30:00  56.4000015259
70708  ATM07_01480  2021-11-22 12:20:00  56.4000015259
69407  ATM07_01480  2021-11-17 23:55:00  56.2999992371
69402  ATM07_01480  2021-11-17 23:30:00  56.2999992371
72058  ATM07_01480  2021-11-27 04:50:00  56.2000007629
12008  ATM05_01479  2021-06-27 16:40:00  56.2000007629
23496  ATM05_01479  2021-07-30 14:00:00  56.2000007629
84206  ATM10_01481  2021-06-26 09:10:00  56.0999984741
70131  ATM07_01480  2021-11-20 12:15:00  56.0999984741
71139  ATM07_01480  2021-11-24 00:15:00  56.0000000000
83874  ATM10_01481  2021-06-25 05:30:00  56.0000000000
83780  ATM10_01481  2021-06-24 21:40:00  56.0000000000
19746  ATM05_01479  2021-07-03 13:30:00  55.9000015259
16631  ATM05_01479  2021-07-13 17:55:00  55.9000015259
8845   ATM05_01479  2021-06-16 17:05:00  55.9000015259
10183  ATM05_01479  2021-06-21 08:35:00  55.9000015259
23283  ATM05_01479  2021-07-29 20:15:00  55.9000015259
9428   ATM05_01479  2021-06-18 17:40:00  55.9000015259
18736  ATM05_01479  2021-06-30 01:20:00  55.9000015259
14546  ATM05_01479  2021-07-06 12:10:00  55.9000015259
14545  ATM05_01479  2021-07-06 12:05:00  55.9000015259
14544  ATM05_01479  2021-07-06 12:00:00  55.9000015259
14543  ATM05_01479  2021-07-06 11:55:00  55.9000015259
22964  ATM05_01479  2021-07-28 17:40:00  55.9000015259
22963  ATM05_01479  2021-07-28 17:35:00  55.9000015259
24630  ATM05_01479  2021-10-19 12:30:00  55.9000015259
9426   ATM05_01479  2021-06-18 17:30:00  55.9000015259
18734  ATM05_01479  2021-06-30 01:10:00  55.9000015259
86848  ATM10_01481  2021-07-05 13:20:00  55.7000007629
9427   ATM05_01479  2021-06-18 17:35:00  55.5999984741
80829  ATM10_01481  2021-06-14 15:45:00  55.5999984741
10047  ATM05_01479  2021-06-20 21:15:00  55.5999984741
10048  ATM05_01479  2021-06-20 21:20:00  55.5999984741
10049  ATM05_01479  2021-06-20 21:25:00  55.5999984741
92291  ATM10_01481  2021-07-03 10:55:00  55.5000000000
14547  ATM05_01479  2021-07-06 12:15:00  55.5000000000
9429   ATM05_01479  2021-06-18 17:45:00  55.4000015259
22965  ATM05_01479  2021-07-28 17:45:00  55.2999992371
18860  ATM05_01479  2021-06-30 11:40:00  55.2000007629
70228  ATM07_01480  2021-11-20 20:20:00  55.2000007629
24631  ATM05_01479  2021-10-19 12:35:00  55.2000007629
72381  ATM07_01480  2021-11-28 07:45:00  55.2000007629
89313  ATM10_01481  2021-07-14 02:45:00  55.0999984741
11199  ATM05_01479  2021-06-24 21:15:00  55.0999984741
90018  ATM10_01481  2021-07-16 13:30:00  55.0999984741
87403  ATM10_01481  2021-07-07 11:35:00  55.0999984741
83711  ATM10_01481  2021-06-24 15:55:00  54.9000015259
87699  ATM10_01481  2021-07-08 12:15:00  54.9000015259
84273  ATM10_01481  2021-06-26 14:45:00  54.9000015259
69389  ATM07_01480  2021-11-17 22:25:00  54.7999992371
89769  ATM10_01481  2021-07-15 16:45:00  54.7000007629
69702  ATM07_01480  2021-11-19 00:30:00  54.7000007629
70638  ATM07_01480  2021-11-22 06:30:00  54.7000007629
70222  ATM07_01480  2021-11-20 19:50:00  54.7000007629
70837  ATM07_01480  2021-11-22 23:05:00  54.7000007629
69418  ATM07_01480  2021-11-18 00:50:00  54.7000007629
9425   ATM05_01479  2021-06-18 17:25:00  54.7000007629
68241  ATM07_01480  2021-11-13 22:45:00  54.7000007629
70559  ATM07_01480  2021-11-21 23:55:00  54.7000007629
69453  ATM07_01480  2021-11-18 03:45:00  54.7000007629
72192  ATM07_01480  2021-11-27 16:00:00  54.7000007629
70960  ATM07_01480  2021-11-23 09:20:00  54.7000007629
88277  ATM10_01481  2021-07-10 12:25:00  54.5999984741
69262  ATM07_01480  2021-11-17 11:50:00  54.5999984741
70152  ATM07_01480  2021-11-20 14:00:00  54.5999984741
20775  ATM05_01479  2021-08-11 03:15:00  54.5000000000
18859  ATM05_01479  2021-06-30 11:35:00  54.5000000000
83270  ATM10_01481  2021-06-23 03:10:00  54.5000000000
10865  ATM05_01479  2021-06-23 17:25:00  54.4000015259
24085  ATM05_01479  2021-08-01 15:05:00  54.4000015259
84252  ATM10_01481  2021-06-26 13:00:00  54.4000015259
92641  ATM10_01481  2021-07-04 16:05:00  54.2999992371
24629  ATM05_01479  2021-10-19 12:25:00  54.2999992371
87845  ATM10_01481  2021-07-09 00:25:00  54.2999992371
11191  ATM05_01479  2021-06-24 20:35:00  54.2000007629
11192  ATM05_01479  2021-06-24 20:40:00  54.2000007629

In [23]:
# df_Acido = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# df_Acido = df_DatiSensori.sort_values(['H2S_ug/m3','H2SJ_ug/m3'],ascending=[False,False]).head(100)

query_Acido = df_Acido[['postazione', 'Data', 'H2S_ug/m3', 'H2SJ_ug/m3']]
query_Acido

         postazione                 Data       H2S_ug/m3     H2SJ_ug/m3
122287  ATM14_01486  2021-06-04 14:35:00  169.0000000000   0.4000000060
93529   ATM10_01481  2021-08-11 18:05:00  120.1999969482   1.1000000238
93527   ATM10_01481  2021-08-11 17:55:00  115.6999969482  21.6000003815
93528   ATM10_01481  2021-08-11 18:00:00  113.8000030518   1.2000000477
93526   ATM10_01481  2021-08-11 17:50:00  113.6999969482   6.1999998093
96411   ATM10_01481  2021-07-31 18:15:00  113.4000015259   1.1000000238
93514   ATM10_01481  2021-08-11 16:50:00  109.8000030518   1.1000000238
93518   ATM10_01481  2021-08-11 17:10:00  108.5999984741   1.2000000477
88041   ATM10_01481  2021-07-09 16:45:00  108.0999984741   0.0000000000
96412   ATM10_01481  2021-07-31 18:20:00  107.8000030518   1.1000000238
93524   ATM10_01481  2021-08-11 17:40:00  107.6999969482   1.1000000238
93525   ATM10_01481  2021-08-11 17:45:00  107.5999984741   1.0000000000
96413   ATM10_01481  2021-07-31 18:25:00  107.3000030518   1.2000000477
93516   ATM10_01481  2021-08-11 17:00:00  107.0999984741   1.2000000477
93520   ATM10_01481  2021-08-11 17:20:00  106.6999969482   1.2000000477
96415   ATM10_01481  2021-07-31 18:35:00  106.6999969482   1.1000000238
93517   ATM10_01481  2021-08-11 17:05:00  106.5000000000   1.2000000477
93521   ATM10_01481  2021-08-11 17:25:00  106.5000000000   1.2000000477
93522   ATM10_01481  2021-08-11 17:30:00  106.0999984741   1.1000000238
95243   ATM10_01481  2021-07-27 16:55:00  105.5999984741   1.8999999762
93515   ATM10_01481  2021-08-11 16:55:00  104.8000030518   6.0000000000
96414   ATM10_01481  2021-07-31 18:30:00  104.4000015259   1.1000000238
93519   ATM10_01481  2021-08-11 17:15:00  104.3000030518   1.1000000238
88038   ATM10_01481  2021-07-09 16:30:00  103.5000000000   1.2000000477
95244   ATM10_01481  2021-07-27 17:00:00  102.8000030518  25.3999996185
93523   ATM10_01481  2021-08-11 17:35:00  101.9000015259   1.1000000238
88042   ATM10_01481  2021-07-09 16:50:00  101.6999969482   4.0999999046
95247   ATM10_01481  2021-07-27 17:15:00  101.6999969482   1.0000000000
93530   ATM10_01481  2021-08-11 18:10:00  101.0000000000   1.0000000000
96416   ATM10_01481  2021-07-31 18:40:00  100.6999969482   5.6999998093
83430   ATM10_01481  2021-06-23 16:30:00   99.3000030518  34.7000007629
96417   ATM10_01481  2021-07-31 18:45:00   99.3000030518   1.1000000238
96407   ATM10_01481  2021-07-31 17:55:00   98.4000015259   1.2000000477
88037   ATM10_01481  2021-07-09 16:25:00   98.0000000000   1.1000000238
95246   ATM10_01481  2021-07-27 17:10:00   98.0000000000   1.1000000238
93513   ATM10_01481  2021-08-11 16:45:00   97.8000030518   1.1000000238
93531   ATM10_01481  2021-08-11 18:15:00   96.5000000000   1.2000000477
88040   ATM10_01481  2021-07-09 16:40:00   96.5000000000   0.0000000000
96418   ATM10_01481  2021-07-31 18:50:00   96.3000030518   1.1000000238
93512   ATM10_01481  2021-08-11 16:40:00   96.0999984741   1.1000000238
88036   ATM10_01481  2021-07-09 16:20:00   96.0000000000   1.1000000238
129824  ATM14_01486  2021-08-11 18:40:00   95.8000030518   0.4000000060
88039   ATM10_01481  2021-07-09 16:35:00   95.6999969482   1.2000000477
88034   ATM10_01481  2021-07-09 16:10:00   95.0999984741   4.0999999046
93230   ATM10_01481  2021-08-10 17:10:00   95.0999984741   1.1000000238
96419   ATM10_01481  2021-07-31 18:55:00   95.0999984741   1.1000000238
96420   ATM10_01481  2021-07-31 19:00:00   94.8000030518   5.8000001907
83431   ATM10_01481  2021-06-23 16:35:00   94.8000030518   0.0000000000
88902   ATM10_01481  2021-07-12 16:30:00   94.5000000000  51.2000007629
96421   ATM10_01481  2021-07-31 19:05:00   94.3000030518   1.1000000238
93532   ATM10_01481  2021-08-11 18:20:00   94.1999969482  21.6000003815
88333   ATM10_01481  2021-07-10 17:05:00   94.1999969482   0.0000000000
83429   ATM10_01481  2021-06-23 16:25:00   94.0999984741   1.1000000238
93223   ATM10_01481  2021-08-10 16:35:00   93.0999984741  20.0000000000
95245   ATM10_01481  2021-07-27 17:05:00   92.6999969482   1.0000000000
93536   ATM10_01481  2021-08-11 18:40:00   92.5999984741   1.0000000000
96422   ATM10_01481  2021-07-31 19:10:00   92.1999969482   1.2000000477
88335   ATM10_01481  2021-07-10 17:15:00   91.8000030518   1.1000000238
96423   ATM10_01481  2021-07-31 19:15:00   91.8000030518   1.1000000238
20951   ATM05_01479  2021-08-11 17:55:00   91.5000000000   8.1999998093
93534   ATM10_01481  2021-08-11 18:30:00   91.1999969482   5.6999998093
93537   ATM10_01481  2021-08-11 18:45:00   91.0999984741  21.6000003815
95234   ATM10_01481  2021-07-27 16:10:00   90.5999984741   1.2000000477
20944   ATM05_01479  2021-08-11 17:20:00   90.5000000000   0.6000000238
20943   ATM05_01479  2021-08-11 17:15:00   90.5000000000   0.0000000000
93533   ATM10_01481  2021-08-11 18:25:00   90.4000015259   1.1000000238
20950   ATM05_01479  2021-08-11 17:50:00   90.3000030518  43.2999992371
88332   ATM10_01481  2021-07-10 17:00:00   90.1999969482   1.1000000238
129817  ATM14_01486  2021-08-11 18:05:00   90.0999984741   0.4000000060
129809  ATM14_01486  2021-08-11 17:25:00   90.0999984741   0.3000000119
88334   ATM10_01481  2021-07-10 17:10:00   89.9000015259   3.7999999523
83148   ATM10_01481  2021-06-22 17:00:00   89.9000015259   1.1000000238
129815  ATM14_01486  2021-08-11 17:55:00   89.9000015259   0.5000000000
20960   ATM05_01479  2021-08-11 18:40:00   89.9000015259   0.0000000000
93535   ATM10_01481  2021-08-11 18:35:00   89.8000030518   1.0000000000
129808  ATM14_01486  2021-08-11 17:20:00   89.6999969482   0.4000000060
129818  ATM14_01486  2021-08-11 18:10:00   89.5999984741   0.4000000060
129804  ATM14_01486  2021-08-11 17:00:00   89.4000015259   0.4000000060
20945   ATM05_01479  2021-08-11 17:25:00   89.3000030518  20.1000003815
93231   ATM10_01481  2021-08-10 17:15:00   89.0999984741   1.1000000238
23824   ATM05_01479  2021-07-31 17:20:00   89.0000000000   0.0000000000
95237   ATM10_01481  2021-07-27 16:25:00   88.9000015259   1.1000000238
20952   ATM05_01479  2021-08-11 18:00:00   88.9000015259   0.0000000000
88907   ATM10_01481  2021-07-12 16:55:00   88.6999969482  51.5999984741
129816  ATM14_01486  2021-08-11 18:00:00   88.6999969482   0.5000000000
129811  ATM14_01486  2021-08-11 17:35:00   88.6999969482   0.4000000060
129807  ATM14_01486  2021-08-11 17:15:00   88.5999984741   0.3000000119
20953   ATM05_01479  2021-08-11 18:05:00   88.4000015259   0.0000000000
20946   ATM05_01479  2021-08-11 17:30:00   88.3000030518  42.0000000000
129810  ATM14_01486  2021-08-11 17:30:00   88.0999984741   0.4000000060
23837   ATM05_01479  2021-07-31 18:25:00   88.0999984741   0.0000000000
129814  ATM14_01486  2021-08-11 17:50:00   88.0000000000   0.6000000238
91219   ATM10_01481  2021-06-29 17:35:00   87.9000015259   1.0000000000
88035   ATM10_01481  2021-07-09 16:15:00   87.6999969482   1.2000000477
88901   ATM10_01481  2021-07-12 16:25:00   87.5999984741   7.8000001907
96425   ATM10_01481  2021-07-31 19:25:00   87.4000015259   1.2000000477
129819  ATM14_01486  2021-08-11 18:15:00   87.4000015259   0.4000000060
91216   ATM10_01481  2021-06-29 17:20:00   87.3000030518   1.1000000238
96424   ATM10_01481  2021-07-31 19:20:00   87.1999969482   1.1000000238
122286  ATM14_01486  2021-06-04 14:30:00   87.0000000000   0.4000000060

In [ ]:
# query effettuata con un unico comando
# df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True)[['postazione', 'Data', 'VOC_ppm']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore VOC
df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 piÃ¹ bassi valori del sensore VOC
query_VOC = df_VOC[['postazione', 'Data', 'VOC_ppm']].head(100)
query_VOC

In [ ]:
# query effettuata con un unico comando
# df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True)[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore PIDVOC
df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 piÃ¹ bassi valori del sensore PIDVOC
query_PIDVOC = df_PIDVOC[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
query_PIDVOC

In [ ]:
# query 4: dividere il dataset in gruppi di ore consecutive, sommare le ore e calcolare la media per ogni ora 
# e quella piÃ¹ bassa