In [ ]:
# Grupppo 1

In [10]:
import pandas as pd
import numpy as np
import operator
import os

In [12]:
os.makedirs('C:/Users/Antonio/Desktop/Università/Big-Data-21-22-Gruppo1', exist_ok=True)

In [40]:
# Importa i dati dal file excel
#Modifica la precisione nella visualizzazione delle cifre
pd.options.display.precision = 10

#Legge il csv e lo stampa
df_DatiSensori = pd.read_excel('Dati_gruppo1.xlsx')

In [46]:
#Mostra tutte le colonne
# pd.set_option('display.max_rows', None)

# dataset iniziale
df_DatiSensori

# dataset con i duplicati eliminati
# df_DatiSensori = df_DatiSensori.drop_duplicates()

,postazione,Data,TRS_ppb,TRS_stato,VOC_ppm,VOC_stato,C6H6_ug/m3,C6H6_stato,H2S_ug/m3,H2S_stato,H2SJ_ug/m3,H2SJ_stato,PIDVOC_ppb,PIDVOC_stato
0,ATM05_01479,2021-04-12 00:00:00,2.0000000000,K,0.0,K,0.3000000119,K,0.0000000000,K,0.0,K,44.5999984741,K
1,ATM05_01479,2021-04-12 00:05:00,0.0000000000,K,0.0,K,0.2000000030,K,0.2000000030,K,0.0,K,44.0000000000,K
2,ATM05_01479,2021-04-12 00:10:00,0.0000000000,K,0.0,K,0.2000000030,K,1.7000000477,K,0.0,K,44.2000007629,K
3,ATM05_01479,2021-04-12 00:15:00,11.8999996185,K,0.0,K,0.2000000030,K,1.8999999762,K,0.0,K,44.4000015259,K
4,ATM05_01479,2021-04-12 00:20:00,26.1000003815,K,0.0,K,0.2000000030,K,2.5000000000,K,0.0,K,40.7999992371,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153211,ATM14_01486,NaT,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND
153212,ATM14_01486,NaT,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND
153213,ATM14_01486,NaT,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND
153214,ATM14_01486,NaT,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND
153215,ATM14_01486,NaT,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND,NaN,ND

In [ ]:
# Query 1

In [ ]:
# query effettuata con un unico comando
# df_Benzene = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False)[['postazione', 'Data', 'C6H6_ug/m3']].head(100)

# creazione di un dataFrame ordinato in modo discendente per i valori di benzene
df_C6H6 = df_DatiSensori.sort_values(by='C6H6_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di benzene
query_C6H6 = df_C6H6[['postazione', 'Data', 'C6H6_ug/m3']]
query_C6H6.head(100)

In [ ]:
# Query 2

In [ ]:
# sensore H2S

# query effettuata con un unico comando
# df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False)[['postazione', 'Data', 'H2S_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2S
df_H2S = df_DatiSensori.sort_values(by='H2S_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2S = df_H2S[['postazione', 'Data', 'H2S_ug/m3', 'H2SJ_ug/m3']].head(100)
query_H2S

In [ ]:
# sensore H2SJ

# query effettuata con un unico comando
# df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False)[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori di acido solfidrico del sensore H2SJ
df_H2SJ = df_DatiSensori.sort_values(by='H2SJ_ug/m3', ascending =False).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 maggiori valori di acido solfidrico del sensore H2SJ
query_H2SJ = df_H2SJ[['postazione', 'Data', 'H2SJ_ug/m3']].head(100)
query_H2SJ

In [ ]:
# Query 3

In [ ]:
# sensore VOC

# query effettuata con un unico comando
# df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True)[['postazione', 'Data', 'VOC_ppm']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore VOC
df_VOC = df_DatiSensori.sort_values(by='VOC_ppm', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 più bassi valori del sensore VOC
query_VOC = df_VOC[['postazione', 'Data', 'VOC_ppm']].head(100)
query_VOC

In [ ]:
# sensore PIDVOC

# query effettuata con un unico comando
# df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True)[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
# creazione di un dataFrame ordinato in modo discendente per i valori del sensore PIDVOC
df_PIDVOC = df_DatiSensori.sort_values(by='PIDVOC_ppb', ascending =True).drop_duplicates(subset=['Data'])
# creazione di un dataFrame contenente i 100 più bassi valori del sensore PIDVOC
query_PIDVOC = df_PIDVOC[['postazione', 'Data', 'PIDVOC_ppb']].head(100)
query_PIDVOC

In [ ]:
# Query 4

In [41]:
#Elimina i valori nulli e calcola la media oraria sul dataframe creato
df_C6H6 = df_DatiSensori[['Data','C6H6_ug/m3']].copy()
df_C6H6['Data'] = pd.to_datetime(df_C6H6['Data'])
df_C6H6 = df_C6H6[df_C6H6['C6H6_ug/m3'].notna()]
indexName = df_C6H6[(df_C6H6['C6H6_ug/m3']==0)].index
df_C6H6.drop(indexName, inplace = True)
df_C6H6 = df_C6H6[['Data', 'C6H6_ug/m3']].resample("H", label = 'right', on = 'Data').mean()
df_C6H6

                       C6H6_ug/m3
Data
2021-04-12 01:00:00  0.2750000053
2021-04-12 02:00:00  0.2461538498
2021-04-12 03:00:00  0.2400000036
2021-04-12 04:00:00  0.2739130476
2021-04-12 05:00:00  0.2409090948
...                           ...
2021-11-28 20:00:00  0.2999999989
2021-11-28 21:00:00  0.2999999989
2021-11-28 22:00:00  0.2999999989
2021-11-28 23:00:00  0.2958333337
2021-11-29 00:00:00  0.2875000034

[5544 rows x 1 columns]

In [ ]:
# Stampa le 50 ore con i livelli di benzene più alti
df_C6H6Max = df_C6H6.sort_values('C6H6_ug/m3', ascending = False).head(50)
df_C6H6Max

In [ ]:
# Stampa le 50 ore con i livelli di benzene più bassi
df_C6H6Min = df_C6H6.sort_values('C6H6_ug/m3', ascending = True).head(50)
df_C6H6Min

In [ ]:
#50 ore con il pù basso livello medio di benzene
df_C6H6 = df_DatiSensori[['ora','C6H6_ug/m3']].copy()
df_ore = df_C6H6.groupby('ora').mean().sort_values(['C6H6_ug/m3'], ascending =True).head(50).reset_index()
df_ore[['ora']]

In [ ]:
# Query 5

In [42]:
#Elimina i valori nulli e calcola la media oraria sul dataframe creato
df_AcidoSolf = df_DatiSensori[['Data','H2S_ug/m3','H2SJ_ug/m3' ]].copy()
df_AcidoSolf['Data'] = pd.to_datetime(df_AcidoSolf['Data'])
df_AcidoSolf = df_AcidoSolf[df_AcidoSolf['H2S_ug/m3'].notna()]
df_AcidoSolf = df_AcidoSolf[df_AcidoSolf['H2SJ_ug/m3'].notna()]
indexName = df_AcidoSolf[(df_AcidoSolf['H2S_ug/m3']==0)].index
indexName = df_AcidoSolf[(df_AcidoSolf['H2SJ_ug/m3']==0)].index
df_AcidoSolf.drop(indexName, inplace = True)
df_AcidoSolf = df_AcidoSolf[['Data', 'H2S_ug/m3', 'H2SJ_ug/m3']].resample("H", label = 'right', on = 'Data').mean()
df_AcidoSolf

                         H2S_ug/m3    H2SJ_ug/m3
Data
2021-04-12 01:00:00  21.3625001907  3.4125000437
2021-04-12 02:00:00  20.5631577843  4.7315790151
2021-04-12 03:00:00  20.1238095420  4.7190475691
2021-04-12 04:00:00  22.1409091082  4.8954545476
2021-04-12 05:00:00  20.6900000095  4.2450000584
...                            ...           ...
2021-11-28 20:00:00  11.5541667144  0.7375000169
2021-11-28 21:00:00   9.6958333254  1.0874999911
2021-11-28 22:00:00   9.6583332817  1.0749999881
2021-11-28 23:00:00  11.0874999563  1.0874999911
2021-11-29 00:00:00  11.1583333413  1.1624999940

[5544 rows x 2 columns]

In [ ]:
# Stampa le 50 ore con i livelli di acido solfidrico del sensore H2S più alti
df_H2SMax = df_AcidoSolf[df_AcidoSolf.columns[:-1]].sort_values('H2S_ug/m3', ascending = False).head(50)
df_H2SMax

In [ ]:
# Stampa le 50 ore con i livelli di acido solfidrico del sensore H2S più basso
df_H2SMin = df_AcidoSolf[df_AcidoSolf.columns[:-1]].sort_values('H2S_ug/m3', ascending = True).head(50)
df_H2SMin

In [38]:
# Stampa le 50 ore con i livelli di acido solfidrico del sensore H2SJ più alti
df_H2SJMax = df_AcidoSolf['H2SJ_ug/m3']
df_H2SJMax= df_H2SJMax.to_frame().sort_values('H2SJ_ug/m3', ascending = False).head(50)
df_H2SJMax

                        H2SJ_ug/m3
Data
2021-06-29 00:00:00  27.3925924963
2021-10-18 05:00:00  24.9048773156
2021-06-24 21:00:00  24.0804883627
2021-10-18 04:00:00  23.9319141907
2021-06-22 15:00:00  23.8913049562
2021-08-13 23:00:00  23.3565211199
2021-07-02 10:00:00  22.6272728364
2021-07-14 11:00:00  21.8096153325
2021-07-26 15:00:00  21.0155551387
2021-06-21 13:00:00  20.9514286714
2021-07-28 23:00:00  20.5846152776
2021-07-12 13:00:00  20.5424999097
2021-10-18 06:00:00  20.2463408689
2021-07-26 16:00:00  19.7924997032
2021-06-15 13:00:00  19.4794867650
2021-07-04 07:00:00  19.4763156423
2021-06-30 02:00:00  18.4280002296
2021-06-29 17:00:00  18.2687500669
2021-07-28 01:00:00  17.9790701131
2021-06-27 20:00:00  17.8999997997
2021-07-28 18:00:00  17.7000002074
2021-07-01 19:00:00  17.5690471473
2021-07-06 13:00:00  16.9875003519
2021-06-15 15:00:00  16.5294116472
2021-06-23 14:00:00  16.5200001131
2021-08-13 13:00:00  16.3612901924
2021-06-29 19:00:00  16.2884615797
2021-06-23 22:00:00  16.2322578699
2021-07-02 12:00:00  16.0846154701
2021-06-20 17:00:00  16.0805555226
2021-08-11 04:00:00  15.6037038819
2021-06-17 09:00:00  15.4848485372
2021-06-26 19:00:00  15.4285713102
2021-06-30 15:00:00  15.4037034765
2021-10-19 13:00:00  15.3813955597
2021-07-02 08:00:00  15.3606056151
2021-07-28 09:00:00  15.1361107909
2021-06-24 20:00:00  15.0916666918
2021-07-30 16:00:00  15.0735291146
2021-07-07 15:00:00  14.9999996957
2021-07-09 04:00:00  14.9658532826
2021-07-06 08:00:00  14.9111111200
2021-07-31 18:00:00  14.7857141920
2021-06-20 10:00:00  14.7617647499
2021-06-27 08:00:00  14.6270270158
2021-07-09 05:00:00  14.4528300142
2021-07-01 16:00:00  14.3916668966
2021-07-30 14:00:00  14.3333333850
2021-07-09 19:00:00  14.3174998567
2021-07-26 05:00:00  14.2363635970

In [ ]:
# Stampa le 50 ore con i livelli di acido solfidrico del sensore H2SJ più bassi
df_H2SJMin = df_AcidoSolf['H2SJ_ug/m3']
df_H2SJMin= df_H2SJMin.to_frame().sort_values('H2SJ_ug/m3', ascending = True).head(50)
df_H2SJMin

In [ ]:
# Query 6

In [43]:
#Elimina i valori nulli e calcola la media oraria sul dataframe creato
df_VOC = df_DatiSensori[['Data','VOC_ppm','PIDVOC_ppb' ]].copy()
df_VOC['Data'] = pd.to_datetime(df_VOC['Data'])
df_VOC = df_VOC[df_VOC['VOC_ppm'].notna()]
df_VOC = df_VOC[df_VOC['PIDVOC_ppb'].notna()]
indexName = df_VOC[(df_VOC['VOC_ppm']==0)].index
indexName = df_VOC[(df_VOC['PIDVOC_ppb']==0)].index
df_VOC.drop(indexName, inplace = True)
df_VOC = df_VOC[['Data', 'VOC_ppm', 'PIDVOC_ppb']].resample("H", label = 'right', on = 'Data').mean()

In [ ]:
# Stampa le 50 ore con i livelli di VOC del sensore VOC più alti
df_VOCMax = df_VOC[df_VOC.columns[:-1]].sort_values('VOC_ppm', ascending = False).head(50)
df_VOCMax

In [ ]:
# Stampa le 50 ore con i livelli di VOC del sensore VOC più bassi
df_VOCMin = df_VOC[df_VOC.columns[:-1]].sort_values('VOC_ppm', ascending = True).head(50)
df_VOCMin

In [ ]:
# Stampa le 50 ore con i livelli di VOC del sensore PIDVOC più alti
df_PIDVOCMax = df_VOC['PIDVOC_ppb']
df_PIDVOCMax= df_PIDVOCMax.to_frame().sort_values('PIDVOC_ppb', ascending = False).head(50)
df_PIDVOCMax

In [ ]:
# Stampa le 50 ore con i livelli di VOC del sensore PIDVOC più bassi
df_PIDVOCMin = df_VOC['PIDVOC_ppb']
df_PIDVOCMin= df_PIDVOCMin.to_frame().sort_values('PIDVOC_ppb', ascending = True).head(50)
df_PIDVOCMin

In [ ]:
# Creazione di un dataset per la media oraria

In [45]:
df_MediaOraria = df_C6H6.copy()
df_MediaOraria['H2S_ug/m3'] = df_AcidoSolf['H2S_ug/m3']
df_MediaOraria['H2SJ_ug/m3'] = df_AcidoSolf['H2SJ_ug/m3']
df_MediaOraria['VOC_ppm'] = df_VOC['VOC_ppm']
df_MediaOraria['PIDVOC_ppb'] = df_VOC['PIDVOC_ppb']
df_MediaOraria.to_excel('media_oraria.xlsx')

In [ ]:
# Query 7

In [ ]:
# Giornate con fallimenti ND
df_Fail_ND = df_DatiSensori[['Data','TRS_ppb','VOC_ppm','C6H6_ug/m3','H2S_ug/m3','H2SJ_ug/m3','PIDVOC_ppb']].copy()
df_Fail_ND['Giorno'] = pd.to_datetime(df_Fail_ND['Data'].dt.strftime('%d/%m/%Y'))
df_Fail_ND = df_Fail_ND[(df_Fail_ND['TRS_ppb'].isna()) | (df_Fail_ND['VOC_ppm'].isna()) | (df_Fail_ND['C6H6_ug/m3'].isna()) | (df_Fail_ND['H2S_ug/m3'].isna()) | (df_Fail_ND['H2SJ_ug/m3'].isna()) | (df_Fail_ND['PIDVOC_ppb'].isna())]
df_Fail_ND = df_Fail_ND.groupby('Giorno').count()
df_Fail_ND

In [ ]:
# Serve trovare anche le righe con 24 (144)(Praticamente per 12h della stessa giornata non ha registrato) 0 che sono comunque ND.
df_Fail_0 = df_DatiSensori[['Data','TRS_ppb','VOC_ppm','C6H6_ug/m3','H2S_ug/m3','H2SJ_ug/m3','PIDVOC_ppb']].copy()
df_Fail_0['Giorno'] = pd.to_datetime(df_Fail_0['Data'].dt.strftime('%d/%m/%Y'))
df_Fail_0['TRS_ppb'].astype(float)
df_Fail_0['VOC_ppm'].astype(float)
df_Fail_0['C6H6_ug/m3'].astype(float)
df_Fail_0['H2S_ug/m3'].astype(float)
df_Fail_0['H2SJ_ug/m3'].astype(float)
df_Fail_0['PIDVOC_ppb'].astype(float)
df_Fail_0 = df_Fail_0[(df_Fail_0['TRS_ppb'] == 0) | (df_Fail_0['VOC_ppm'] == 0) | (df_Fail_0['C6H6_ug/m3']== 0) | (df_Fail_0['H2S_ug/m3']== 0) | (df_Fail_0['H2SJ_ug/m3']== 0) | (df_Fail_0['PIDVOC_ppb']== 0)]
df_Fail_0 = df_Fail_0.groupby('Giorno').count()
# df_Fail_0 = df_Fail_0[(df_Fail_0.Data >= 144)]
df_Fail_0 = df_Fail_0[(df_Fail_0.Data >= 24)]
df_Fail_0

In [ ]:
#Unisco i dati per i fallimenti(Banale union)
df_fail = pd.concat([df_Fail_ND, df_Fail_0])

In [ ]:
#3 giorni con il maggior numero di fallimenti
df_fail.sort_values(['Data'], ascending=False).head(3)

In [ ]:
#3 giorni con il minor numero di fallimenti
df_fail.sort_values(['Data'], ascending=True).head(3)

In [ ]:
# Query 8

In [ ]:
# 3 giornate con il minor numero di fallimenti (manca il calcolo dei 24 zeri consecutivi)
df_Fail = df_DatiSensori[['Data','C6H6_ug/m3']].copy()
df_Fail['Data'] = pd.to_datetime(df_Fail['Data'].dt.strftime('%d/%m/%Y'))
df_Fail['Giorno'] = df_Fail['Data']
df_Fail = df_Fail[df_Fail['C6H6_ug/m3'].isna()]
df_Fail = df_Fail[(df_Fail['C6H6_ug/m3']!='0')]
df_Fail = df_Fail.groupby('Giorno').count().sort_values('Data', ascending = True)
df_Fail.head(3)

In [ ]:
# Query 9, 10 e 11

In [ ]:
# creiamo una lista con tutti gli inquinanti
inquinanti = ['TRS_ppb','VOC_ppm','C6H6_ug/m3','H2S_ug/m3','H2SJ_ug/m3','PIDVOC_ppb']
stato_Inquinanti = ['TRS_stato','VOC_stato','C6H6_stato', 'H2S_stato','H2SJ_stato', 'PIDVOC_stato']

In [ ]:
# crea un dataframe che contiene la somma dei fallimenti 
# oltre alle righe con 'ND' che indicano il fallimento nel trasmettere i dati, consideriamo fallimento
# anche la presenza consecutiva massiccia di valori 0
fails = []
df_NFails = pd.DataFrame({'Fallimenti':np.arange(6)})
df_NFails = pd.DataFrame({'Sensori':np.arange(6)})
for column in range(len(inquinanti)):
    df_Fail = df_DatiSensori[[inquinanti[column], stato_Inquinanti[column]]].copy()
    errors = df_Fail[inquinanti[column]].ne(df_Fail[inquinanti[column]].shift()).cumsum()[df_Fail[inquinanti[column]].eq(0.0)].value_counts().ge(24).sum()
    num_ND= df_Fail[stato_Inquinanti[column]].value_counts()["ND"]
    fails.append(num_ND + errors)
    column+1


df_NFails['Sensori'] = inquinanti
df_NFails['Fallimenti'] = fails
df_NFails

In [ ]:
# Query 9

In [ ]:
df_NFails['Dati TOT'] = len(df_DatiSensori)
df_NFails['Media'] = df_NFails['Fallimenti'].div(len(df_DatiSensori))
df_NFails

In [ ]:
# Query 10

In [ ]:
# Prende il massimo dal dataframe
df_NFails['Fallimenti'].max()

In [ ]:
# Query 11

In [ ]:
# Prende il minimo dal dataframe
df_NFails['Fallimenti'].min()